<!DOCTYPE html>
<html lang="en">
<head>
    <title>HBNB</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/3-header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/4-common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/6-filters.css') }}">
</head>
<body>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">HBNB</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Places</a></li>
                    <li><a href="#">States</a></li>
                    <li><a href="#">Amenities</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title">HBNB - Filters</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="filters">
                    <div class="popover">
                        <h3>States</h3>
                        <div class="popover-content">
                            &nbsp;
                        </div>
                    </div>
                    <div class="popover">
                        <h3>Amenities</h3>
                        <div class="popover-content">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <p class="text-center">&copy; 2023 HBNB. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>

